.msg{
  display: none;
}

@media (min-width: 768px) {

  main {
    display: none;
  }

  body{
    background-color: #170072;
  }

  body .msg{
    display: block;
    color: white;
    font-size: 4rem;
    text-align: center;
  }
}